{% extends 'base.html.twig' %}

{% block body %}
    <h1>Posts</h1>

        {% for forum in forums %}


<div class="post">
    <div class="post-media post-thumb">
        <a href="blog-single.html">
          <center>  <img  src="{{ asset('uploads/images/') ~ forum.image }}" style="width: 400px"></center>
        </a>
    </div>
    <h2 class="post-title"><a href="blog-single.html">{{ forum.title }}</a></h2>
    <div class="post-meta">
        <ul>
            <li>
                <i class="tf-ion-ios-calendar"></i> {{ forum.date|date('d-m-y') }}
            </li>
            <li>
                <i class="tf-ion-android-person"></i> Posted By {{forum.user}}
            </li>
            <li>
                <a href="#"><i class="tf-ion-ios-pricetags"></i> {{ forum.categorie.libelle }}</a>
            </li>
            <li>
                <a href="#"><i class="tf-ion-chatbubbles"></i> 4 COMMENTS</a>
            </li>
        </ul>
    </div>
    <div class="post-content">
        <p>{{ forum.description }}</p>
        <a href="{{ path('forum_show', { 'id': forum.id }) }}" class="btn btn-main">Continue Reading </a>
    </div>
</div>
        {% endfor %}

{% endblock %}
