{% extends 'base.html.twig' %}
{% block title %}Rating{% endblock %}
{% block body %}


    <style>

        #opinion_contenu{
          width: 1150px ;

        }
    </style>


        <body id="top">

        <div class="feedback main-grid-border">
            <div class="container">
    <br>
               <center> <h2 class="w3-head">Rate Our Forum</h2></center>
                <div class="feed-back">


                    <div class="feed-back-form">


                        <div >
                            <h3 ></h3>

                            {{ form_start(form) }}
                            <div class="row">
                            <div class="post-comments-form">
                                <center> {% include"@Opinion/Opinion/rating.html.twig" %} </center>
<center>
                                <h3 class="post-sub-heading"> Give us your Feedback </h3>
</center>
                                    <div class="row">

                                        <br>
                                        <!-- Comment -->
                                        <div class="form-group col-md-12">
                                            {{ form_label(form.contenu ) }}
                                            {{ form_widget(form.contenu) }}
                                            {{ form_errors(form.contenu) }}
                                        </div>
                                    </div>
                               <center>
                                   <input class="btn btn-main btn-large btn-round-full " type="submit" value="Send" id="send" >
                                </center>
                                <br><br><br>


                            </div>



                            <input id ="rating" type="number" name="note">
                            <style>
                                #rating{
                                    display: none;

                                }
                            </style>

                            <script>
                                $('#send').click(function(){
                                    if($('#rating').val()=="")
                                        $('#err').show();
                                });
                                $('.star').click(function (){
                                    $('#err').hide();
                                });
                            </script>
                            {{ form_end(form) }}
                        </div>

                    <br><br>

                        <div>
                            <a href="{{ path('opinion_aff') }}">
                               <center>
                                <h2 style="color:cornflowerblue;text-decoration: underline" class="align-center" >   What Other People Think About Us ?</h2>
                               </center>
                            </a></div>
                        <br><br>


                    </div>
                    <div >
                        {{ render(controller('OpinionBundle:Feedback:NbreNote')) }}
                    </div>


                </div>
            </div>
        </div>


                            </body>


{% endblock %}
