
    <div class="post-comments-form">
            {{ form_start(form) }}
            <div class="row">
                <!-- Comment -->
                <div class="form-group col-md-12" id="texte">
                    <div class="col-md-8">
                        {{ form_widget(form.texte) }}
                        {{ form_errors(form.texte) }}
                    </div>
                    <div class="col-md-2"><div class="actions-td" id="close"><span class="tf-ion-close"></span></div></div>
                </div>
            </div>
            {{ form_widget(form.Submit) }}
            {{ form_end(form) }}
    </div>


