{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commentforum creation</h1>
    {{ form_start(form) }}
    <div class="post-comments-form">
        <h3 class="post-sub-heading">Leave You Comments</h3>
        <form method="post" action="#" id="form" role="form" >
            <div class="row">
                <!-- Comment -->
                <div class="form-group col-md-12">
                    {{ form_label(form.texte) }}
                    {{ form_widget(form.texte) }}
                    {{ form_errors(form.texte) }}
                </div>
            </div>
            <input type="submit" value="Create" class="btn btn-small btn-main"/>
        </form>
    </div>

    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('commentaireforum_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
