
    <h1>Commentforum creation</h1>
    <div class="post-comments-form">
        <h3 class="post-sub-heading">Leave You Comments</h3>
        <form method="post" action="{{ path('commentaireforum_new') }}" id="form" role="form" >
            {{ form_start(form) }}

            <div class="row">
                <!-- Comment -->
                <div class="form-group col-md-12">
                    {{ form_label(form.texte) }}
                    {{ form_widget(form.texte) }}
                    {{ form_errors(form.texte) }}
                </div>
            </div>
            {{ form_widget(form.Submit) }}
        </form>
    </div>

    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('commentaireforum_index') }}">Back to the list</a>
        </li>
    </ul>

